*, 
::before, 
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* root */

:root{
  --main-color-section:#0084fd;
  --bg-color-first-section: #b5ddff;
}


body{
  font-family: 'PT Sans', sans-serif;
}

header{
  height: 70px;
  width: 100%;
  background-color: #0084fd;
  margin-bottom: 3rem;
}


/* ultilities */
.flex{
  display: flex;
}
.white{
  color: white;
}


.container{
  width: 100%;
  padding: 2rem;
}

.header-nav{
  justify-content: space-between;
  align-items: center;
}
  
nav>.menu{
    color: white;
}
.fa-solid, .fa-bars{
  font-size: 1.5rem;
}
.principal-row{
    margin-bottom: 3rem;
}
article{
    flex-direction: column;
}
.card{
    background-color: var(--bg-color-first-section);
    border-radius: 1rem;
    margin-bottom: 20px;
}
.big-card{
    height: 100%;
    margin-bottom: 4rem;
    background-color: var(--bg-color-first-section);
}
.card-text{
    padding: 2.8rem;
    margin: 0 auto
}
.card-text p{
  margin: 1.5rem 0 1.5rem 0;
}

button{
font-size: 1.3rem;
padding: 0.3rem 2.5rem;
border-radius: 3rem;
border: none;
background-color: var(--main-color-section);
color: white;
margin-top: 1rem;
}

.card-img{
    width: 100%;
    text-align: center;
}
.card-img img{
  height: 300px;
  
}
.small-card{
  text-align: center;
}
.small-card i{
  font-size: 4rem;
}
.small-card h2{
  margin: 2rem 0;
}
.small-card h2,
.small-card i{
  color: var(--main-color-section);
}
/* seconda sezione */

.violette-bg{
    background-color: #9792e4;
}
.part{
    width: 100%;
    margin-bottom: 2rem;
}
.second-part{
    background-color: white;
    border-radius: 3rem;
}
.part-content{
  text-align: center;
  padding-bottom: 3rem;
}
.part-img img{
  width: 100%;
  margin-bottom: 2rem;
}

.title{
  font-size: 3rem;
  margin: 2rem 0;
}

/* terza-sezione */

.introduction{
    padding-top: 1rem;
    margin: 1.5rem 0 2rem 0;
    text-align: center;
}
.violette{
  color: #9792e4;
}
.testimonial{
    height: 400px;
    width: 100%;
    margin: 1rem 0; 
    background-color: #9792e4;  
    border-radius: 3rem;
}
.testimonial-text,
.testimonial-img{
    height: 50%;
    width: 100%;
    border: 1px solid pink;
}


 /* queries 768px */

@media screen and (min-width: 768px) {
  .row{
    display: flex;
    justify-content: space-between;
  } 
  .big-card{
    width: calc((100% / 3) *2);
    border-radius: 2rem;
    margin: 0.5rem;
  }
  .card-img{
    text-align: start;
    padding-left: 2rem;
  }
  .small-card{
    width: calc(100% / 3);
    margin: 0.5rem;
  }
  .testimonial{
    display: flex;
    height: 300px;
  }
  .testimonial-img,
  .testimonial-text{
    height: 100%;
  }
  .testimonial-img{
    width: 40%;
  }
}




/* DESKTOP */

@media screen and (min-width: 992px) {
  .container{
    width: 70%;
    margin: 0 auto;
  }
  .card-text{
    width: 80%;
    padding: 1.5rem;
  }
  .part{
    width: (calc(100% /2) -1rem);
    margin: 0.5rem  
}
  .big-card{
    display: flex;
    justify-content: space-between;
  }
  .card-img{
    display: flex;
    justify-content: flex-end;
    text-align: center;
    margin-top: 2rem;
  }
  .card-flex{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .part-img{
    width: 70%;
    margin-bottom: 3rem;
    margin: 0 auto;
  }
}