*, 
::before, 
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header{
    height: 70px;
    width: 100%;
    background-color: #0084fd;
    margin-bottom: 3rem;
  }


  /* ultilities */
  .flex{
    display: flex;
}

  .container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid black;
  }


.header-nav{
    justify-content: center;
    align-items: center;
}
  
.header-logo,
nav>.menu{
    width: 50%;
    height: 100%;
    border: 1px solid red;
}

.principal-row{
    margin-bottom: 3rem;
}
article{
    flex-direction: column;
    justify-content: space-between;
}
.card{
    width: 100%;
    background-color: pink;
    border-radius: 1rem;
    margin-bottom: 20px;
}
.big-card{
    height: 300px;
}
.card-text{
    height: 50%;
    background-color: rgb(224, 128, 9);

}
.card-img{
    height: 50%;
    background-color: aqua;
}
.small-card{
    height: 200px;
}

/* seconda sezione */

.violette{
    background-color: #9792e4;
}
.part{
    width: 100%;
    height: 500px;
    border: 1px solid yellow;
    margin-bottom: 3rem;
}
.second-part{
    background-color: white;
    border-radius: 2rem;
}
.part-img{
    height: 50%;
    border: 1px solid red;
}

/* terza-sezione */

.introduction{
    height: 200px;
    border: 1px solid black;
    background-color: chartreuse;
    margin: 1.5rem 0 2rem 0;
}

.testimonial{
    height: 400px;
    width: 100%;
    margin: 1rem 0; 
    background-color: #9792e4;  
    border-radius: 3rem;
}
.testimonial-text,
.testimonial-img{
    height: 50%;
    width: 100%;
    border: 1px solid pink;
}


 /* queries 768px */

@media screen and (min-width: 768px) {
  .row{
    display: flex;
    justify-content: space-between;
  } 
  .principal-row{
    height: 100%;
}
  .big-card{
    width: 65%;
    height: 400px;
    margin-right: 10px;
  }
  .small-card{
    height: 400px;
    width: 32%;
  }
}